<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>YouBike 臺北市公共自行車即時資訊</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  
  <style>
    body{ padding: 1em;  }
    .fa.fa-times-circle-o {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        height: 1em;
        margin: auto;
        font-size: 1.5em;
        cursor: pointer;
        color: #ccc;
    }
    .form-search {
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.15);
    }
    .actinactive
    {
      background-color: #FFCCBC!important;
    }
    .fa-sort-desc
    {
      color:#FCE4EC;
    }
    .fa-sort-desc:hover,.fa-sort-desc.active
    {
      color: #E91E63;
    }
    .fa-sort-asc
    {
      color: #E0F7FA;
    }
    .fa-sort-asc:hover,.fa-sort-asc.active
    {
      color:#00BCD4;
    }
    .hidebtn
    {
      margin-left: .5em;
    }
  </style>

</head>
<body>
  <h1>YouBike 臺北市公共自行車即時資訊</h1>
  <div id="app" >
    <div class="container">
      <div class="row" style="max-width:100%">
          <div class="col">
              <label>
                <span v-show="!isEN">顯示語言：</span>
                <span  v-show="isEN">Language：</span>
              </label>
              <input  id="setEN" v-model="isEN" @change="SetEN()" type="checkbox" data-toggle="toggle" data-on="English" data-off="中文" data-offstyle="success" data-onstyle="primary">
            </div>
          <div class="col">
              <label>
                <span v-show="!isEN">隱藏欄位：</span>
                <span  v-show="isEN">Hide Column：</span>
              </label>
              <a class="btn btn-warning hidebtn" v-for="(item,index) in hideCols" @click.prevent="show(index)"> {{displayCol(item)}} </a>
            </div>
          <div class="col">
            <label>
              <span v-show="!isEN">單頁筆數：</span>
              <span  v-show="isEN">PageCount：</span>
            </label>
            <template v-for="item in pageCounts">
                <a class="btn btn-secondary" :class={'btn-success':pagecountdis(item)} @click.prevent="setPageCount(item)"> {{showPage(item)}} </a>
            </template>
            
          </div>
    </div>
  </div>
    <table class="table table-striped">
      <thead>
        <tr v-show="!isEN">
          <th v-show="hideCols.indexOf('sno')<=-1">
            <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sno==="asc"} aria-hidden="true" @click="ASC('sno')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('sno')>{{displayCol('sno')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sno==="desc"} aria-hidden="true" @click="DESC('sno')"></i>
          </th>
          <th title="act" v-show="hideCols.indexOf('act')<=-1">
            <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.act==="asc"} aria-hidden="true" @click="ASC('act')"></i>
            <a class="btn btn-warning" href="#" @click.prevent=hide('act')>{{displayCol('act')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.act==="desc"} aria-hidden="true" @click="DESC('act')"></i>
          </th>
          <th title="sna" v-show="hideCols.indexOf('sna')<=-1">
            <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sna==="asc"} aria-hidden="true" @click="ASC('sna')"></i>
            <a class="btn btn-warning" href="#" @click.prevent=hide('sna')>{{displayCol('sna')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sna==="desc"} aria-hidden="true" @click="DESC('sna')"></i>
            <br/>
            <div class="btn-group">
                <input type="search" class="form-search" placeholder="搜尋" v-model="searchdata.sna">
                <i class="fa fa-times-circle-o" aria-hidden="true" @click="ClearSearch('sna')"></i>
            </div>
          </th>
          <th title="sarea" v-show="hideCols.indexOf('sarea')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sarea==="asc"} aria-hidden="true" @click="ASC('sarea')"></i>  
              <a class="btn btn-warning" href="#" @click.prevent=hide('sarea')>{{displayCol('sarea')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sarea==="desc"} aria-hidden="true" @click="DESC('sarea')"></i>
            <br/>
            <div class="btn-group">
                <input type="search" class="form-search" placeholder="搜尋" v-model="searchdata.sarea">
                <i class="fa fa-times-circle-o" aria-hidden="true" @click="ClearSearch('sarea')"></i>
            </div>
          </th>
          <th title="ar" v-show="hideCols.indexOf('ar')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.ar==="asc"} aria-hidden="true" @click="ASC('ar')"></i>  
              <a class="btn btn-warning" href="#" @click.prevent=hide('ar')>{{displayCol('ar')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.ar==="desc"} aria-hidden="true" @click="DESC('ar')"></i>
            <br/>
            <div class="btn-group">
                <input type="search" class="form-search" placeholder="搜尋" v-model="searchdata.ar">
                <i class="fa fa-times-circle-o" aria-hidden="true"  @click="ClearSearch('ar')"></i>
            </div>
          </th>
          <th title="latlan" v-show="hideCols.indexOf('lat')<=-1">
            <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.lat==="asc"} aria-hidden="true" @click="ASC('lat')"></i>
            <a class="btn btn-warning" href="#" @click.prevent=hide('lat')>{{displayCol('lat')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.lat==="desc"} aria-hidden="true" @click="DESC('lat')"></i>
          </th>
          <th title="sbi" v-show="hideCols.indexOf('sbi')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sbi==="asc"} aria-hidden="true" @click="ASC('sbi')"></i>
              <a class="btn btn-warning" href="#" @click.prevent=hide('sbi')>{{displayCol('sbi')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sbi==="desc"} aria-hidden="true" @click="DESC('sbi')"></i>
          </th>
          <th title="tot" v-show="hideCols.indexOf('tot')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.tot==="asc"} aria-hidden="true" @click="ASC('tot')"></i>
              <a class="btn btn-warning" href="#" @click.prevent=hide('tot')>{{displayCol('tot')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.tot==="desc"} aria-hidden="true" @click="DESC('tot')"></i>
          </th>
          <th title="bemp" v-show="hideCols.indexOf('bemp')<=-1">
            <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.bemp==="asc"} aria-hidden="true" @click="ASC('bemp')"></i>
            <a class="btn btn-warning" href="#" @click.prevent=hide('bemp')>{{displayCol('bemp')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.bemp==="desc"} aria-hidden="true" @click="DESC('bemp')"></i>
          </th>
          <th title="mday" v-show="hideCols.indexOf('mday')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.mday==="asc"} aria-hidden="true" @click="ASC('mday')"></i>
              <a class="btn btn-warning" href="#" @click.prevent=hide('mday')>{{displayCol('mday')}}</a>
            <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.mday==="desc"} aria-hidden="true" @click="DESC('mday')"></i>
          </th>
        </tr>
        <tr v-show="isEN">
            <th v-show="hideCols.indexOf('sno')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sno==="asc"} aria-hidden="true" @click="ASC('sno')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('sno')>{{displayCol('sno')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sna==="desc"} aria-hidden="true" @click="DESC('sna')"></i>
            </th>
            <th title="act" v-show="hideCols.indexOf('act')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.act==="asc"} aria-hidden="true" @click="ASC('act')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('act')>{{displayCol('act')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.act==="desc"} aria-hidden="true" @click="DESC('act')"></i>
            </th>
            <th title="snaen" v-show="hideCols.indexOf('snaen')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.snaen==="asc"} aria-hidden="true" @click="ASC('snaen')"></i>
                <a class="btn btn-warning" @click.prevent=hide('snaen')>{{displayCol('snaen')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.snaen==="desc"} aria-hidden="true" @click="DESC('snaen')"></i>
              <br/>
              <div class="btn-group">
                  <input type="search" class="form-search" placeholder="Search" v-model="searchdata.snaen">
                  <i class="fa fa-times-circle-o" aria-hidden="true" @click="ClearSearch('snaen')"></i>
              </div>
            </th>
            <th title="sareaen" v-show="hideCols.indexOf('sareaen')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sareaen==="asc"} aria-hidden="true" @click="ASC('sareaen')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('sareaen')>{{displayCol('sareaen')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sna==="desc"} aria-hidden="true" @click="DESC('sna')"></i>
              <br/>
              <div class="btn-group">
                  <input type="search" class="form-search" placeholder="Search" v-model="searchdata.sareaen">
                  <i class="fa fa-times-circle-o" aria-hidden="true" @click="ClearSearch('sareaen')"></i>
              </div>
            </th>
            <th title="aren" v-show="hideCols.indexOf('aren')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.aren==="asc"} aria-hidden="true" @click="ASC('aren')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('aren')>{{displayCol('aren')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.aren==="desc"} aria-hidden="true" @click="DESC('aren')"></i>
              <br/>
              <div class="btn-group">
                  <input type="search" class="form-search" placeholder="Search" v-model="searchdata.aren">
                  <i class="fa fa-times-circle-o" aria-hidden="true" @click="ClearSearch('aren')"></i>
              </div>
            </th>
            <th title="latlan" v-show="hideCols.indexOf('lat')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.lat==="asc"} aria-hidden="true" @click="ASC('lat')"></i>
              <a class="btn btn-warning" href="#" @click.prevent=hide('lat')>{{displayCol('lat')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.lat==="desc"} aria-hidden="true" @click="DESC('lat')"></i>
            </th>
            <th title="sbi" v-show="hideCols.indexOf('sbi')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.sbi==="asc"} aria-hidden="true" @click="ASC('sbi')"></i>
                <a class="btn btn-warning" @click.prevent=hide('sbi')>{{displayCol('sbi')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.sbi==="desc"} aria-hidden="true" @click="DESC('sbi')"></i>
            </th>
            <th title="tot" v-show="hideCols.indexOf('tot')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.tot==="asc"} aria-hidden="true" @click="ASC('tot')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('tot')>{{displayCol('tot')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.tot==="desc"} aria-hidden="true" @click="DESC('tot')"></i>
            </th>
            <th title="bemp" v-show="hideCols.indexOf('bemp')<=-1">
              <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.bemp==="asc"} aria-hidden="true" @click="ASC('bemp')"></i>
              <a class="btn btn-warning" href="#" @click.prevent=hide('bemp')>{{displayCol('bemp')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.bemp==="desc"} aria-hidden="true" @click="DESC('bemp')"></i>
            </th>
            <th title="mday" v-show="hideCols.indexOf('mday')<=-1">
                <i title="sort-asc" class="fa fa-sort-asc fa-2x" :class={active:this.sortdata.mday==="asc"} aria-hidden="true" @click="ASC('mday')"></i>
                <a class="btn btn-warning" href="#" @click.prevent=hide('mday')>{{displayCol('mday')}}</a>
              <i title="sort-desc" class="fa fa-sort-desc fa-2x" :class={active:this.sortdata.mday==="desc"} aria-hidden="true" @click="DESC('mday')"></i>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr :class="{ actinactive: (s.act==='0')}" v-for="s in pagedstops">
          <td v-show="hideCols.indexOf('sno')<=-1">{{ s.sno }}</td>
          <td v-show="hideCols.indexOf('act')<=-1"><!--{{ s.act|isActive }}-->
            <i v-if="s.act==='0'" class="fa fa-minus-circle" style="color:red" aria-hidden="true"></i>
            <i v-if="s.act==='1'" class="fa fa-check-circle" style="color:green" aria-hidden="true"></i>
            <i v-if="s.act!=='1' && s.act!=='0'" class="fa fa-exclamation-triangle" style="color:#FC0" aria-hidden="true" title="unknow"></i>
          </td>
          <td v-show="!isEN && hideCols.indexOf('sna')<=-1">{{ s.sna }}</td>
          <td v-show="isEN && hideCols.indexOf('snaen')<=-1">{{ s.snaen }}</td>
          <td v-show="!isEN && hideCols.indexOf('sarea')<=-1">{{ s.sarea }}</td>
          <td v-show="isEN && hideCols.indexOf('sareaen')<=-1">{{ s.sareaen }}</td>
          <td v-show="!isEN && hideCols.indexOf('ar')<=-1">{{ s.ar }}</td>
          <td v-show="isEN && hideCols.indexOf('aren')<=-1">{{ s.aren }}</td>
          <td v-show="hideCols.indexOf('lat')<=-1">{{ s.lng }},{{ s.lat }}</td>
          <td v-show="hideCols.indexOf('sbi')<=-1">{{ s.sbi }}</td>
          <td v-show="hideCols.indexOf('tot')<=-1">{{ s.tot }}</td>
          <td v-show="hideCols.indexOf('bemp')<=-1">{{ s.bemp }}</td>
          <td v-show="hideCols.indexOf('mday')<=-1">{{ s.mday | timeFormat }}</td>
        </tr>
      </tbody>

    </table>
    <ul class="pagination">
      <li v-show="currentPage!==1">
        <a class="btn btn-default" href="#" @click="goto(currentPage-1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li v-for="n in totalPage"><a @click.prevent="goto(n)" class="btn btn-default" href="#">{{n}}</a></li>
      <li v-show="currentPage!==totalPage">
        <a class="btn btn-default" href="#"  @click="goto(currentPage+1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="scripts.js"></script>

</body>
</html>